body {
  margin: 30px;
  background-color: #000040;
  font-family: 'Lato', sans-serif;
  color: white;
}

a {
  color: papayawhip;
}

input[type='submit'] {
  background-color: papayawhip;
  border: none;
  color: black;
  margin: 5px;
}