body {
  margin: 30px;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  color: black;
}

a {
  color: navy;
}

input[type='submit'] {
  background-color: white;
  border: none;
  color: black;
  margin: 5px;
}