<!doctype html>
<html>
<head>
  <!-- Bootstrap Core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet"  type="text/css" href="/static/styles.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!-- Bootstrap and Custom JS -->
    <script async defer src="https://apis.google.com/js/platform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>PoolaVan</title>

</head>

    
{% with messages = get_flashed_messages() %}
  {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
  {% endfor %}
{% endwith %}

<body>
    
  {% block content %} put your content here {% endblock %}

</body>
</html>