{% extends 'base.html' %}
{% block content %}

<h1>Create a trip!</h1>

<h3>Let's get outside, together!</h3>
<form action="/createtrip" method= "POST">
    <p>Trip Name <input type="text" name="trip_name"></p>
    <p>Origin <input type="text" name="departure_address"></p>
    <p>Arrival <input type="text" name="arrival_address"></p> 
    <p>Departure at <input type="text" name="trip_departure_at"></p>
    <p>Arrival at <input type="text" name="trip_arrival_at"></p>
    <p>Car Capacity <input type="integer" name="car_capacity"></p>
    </p>
    <p>Role: 
    <select name="role_id">
      {% for role in roles %}
        <option value={{ role.role_id }}>{{ role.role }}</option>
      {% endfor %}
    </select>
    </p>
    
    <p>Activity: <select name="recreation_activity">
      {% for activity in activities %}
        <option value={{ activity.activity_id }}>{{ activity.recreation_type }}</option>
      {% endfor %}
    </select>
    </p> 




    
    <p><input type="submit" value="Ahoy!"></p>
</form>


{% endblock %}  