{% extends 'base.html' %}
{% block content %}

<script>
function validateForm()
{
  var fields = ["trip_name", "departure_address", "arrival_address", "trip_departure_at", "trip_arrival_at", "car_capacity", "role", "activity"]

  var i, l = fields.length;
  var fieldname;
  for (i = 0; i < l; i++) {
    fieldname = fields[i];
    if (document.forms["myForm"][fieldname].value === "") {
      alert(fieldname + " can not be empty");
      return false;
    }
  }
  return true;
}
</script>



<h1>Create a trip!</h1>

<h2>Let's get outside, together!</h2>
<form name="myForm" action="/createtrip" onsubmit="return validateForm()" method="post">
  <div id="cleartrip">
    <p>Trip Name <input type="text" name="trip_name"></p>
    <p>Origin <input type="text" name="departure_address"></p>
    <p>Arrival <input type="text" name="arrival_address"></p>


    <p>Departure at <input type ="date" name="trip_departure_at" id="datepicker" ></p>
    <script>
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "autoSize", true );</script>
 

    <p>Arrival at <input type="date" id="datepicker" name="trip_arrival_at"></p>
     <script>
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "autoSize", true );</script>

    <p>Car Capacity <input type="integer" name="car_capacity"></p>
    </p>
    <p>Role: 
    <select name="role_id">
      {% for role in roles %}
        <option value={{ role.role_id }}>{{ role.role }}</option>
      {% endfor %}
    </select>
    </p>
    
    <p>Activity: <select name="recreation_activity">
      {% for activity in activities %}
        <option value={{ activity.activity_id }}>{{ activity.recreation_type }}</option>
      {% endfor %}
    </select>
    </p> 

    <p><input type="submit" value="Ahoy!"></p>
  </div>
</form>

{% endblock %}


 