{% extends 'base.html' %}
{% block content %}

<h1>PoolAVan</h1>

<!-- Check session for boolean 'logged_in' -->
<!-- If not logged in, display login form -->
{% if not session["logged_in"] %}
    <form action="/login" method="POST">
        <p>Username (email)  <input type="text" name="username" placeholder="Username"></p>
        <p>Password  <input type="password" name="password"  placeholder="Password"></p>
        <input type="submit" value="Log in">
        <input type="submit" value="Register">
    </form>
    

        


<!-- If user is logged in, display logout button -->
{% else %}    
    <form action="/logout" method="POST">
        <input type="submit" value="Log out">
    </form>
{% endif %}

<h3>Search for like-minded travelers by activity</h3>
    <p>Activity <select name="activity">
        <option>Snow sports</option>
        <option>Climbing</option>
        <option>Hiking</option>
        <option>Camping</option>
        <option>Mountain Biking</option>
    </select>
    </p> <!-- need to link functionality -->

<h2>Trips</h2>
<p><a href="/trips">View all trips</a></p>

<h2>Users</h2>
<p><a href="/users">View all users</a></p>

<h2>New Trips</h2>
<p><a href="/createtrip">Create a new trip</a></p>

<!-- TBD <h2>Join Others</h2>
<p><a href="/jointrip">Join a trip</a></p> -->


<iframe src="https://www.google.com/maps/d/embed?mid=13WSKPRRgvcIs9tGW3taeL2jXVQs" width="640" height="480"></iframe>

{% endblock %}