<!DOCTYPE html>

<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0">
        <title>Poolavan | Ridesharing for Adventurers. </title>
        <meta name="description" content="poolavan is a ridesharing tool for those who are seeking to get out there.">
        <!-- Google Recaptcha -->
        <script type="text/javascript" async="" src="/static/ridesharing/"></script>
        <script async="" src="/static/ridesharing/analytics.js"></script>
        <script type="text/javascript" async="" src="/static/ridesharing/recaptcha__en.js">
        </script><script src="/static/ridesharing/api.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    



        <!-- Fonts -->
        <link href="./ridesharing/css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/ridesharing/fonts.css">
        <!-- Styles -->
        <link href="/static/ridesharing/style.css" rel="stylesheet">
        <link href="./ridesharing_files/css(1)" rel="stylesheet" type="text/css">

    </head>




        <!-- Navigation -->
       
        <nav class="navbar navbar-custom navbar-static-top thedesktopnav" role="navigation">
            
            <ul class="thelinks">
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/#about" rollapp-href="http://localhost:5000/#about">About</a>
                </li>
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/#features" rollapp-href="http://localhost:5000/#features">Why Poolavan?</a>
                </li>
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/register" rollapp-href="http://localhost:5000/register">Join Poolavan</a>
                </li>
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/userlogin" rollapp-href="http://localhost:5000/userlogin">Login</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-custom navbar-fixed-top themobilenav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="http://localhost:5000/#page-top" rollapp-href="http://localhost:5000/#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll withripple" href="http://localhost:5000/#about"
                            rollapp-href="http://localhost:5000/#about">How Poolavan Works</a>
                        </li>
                        <li>
                            <a class="page-scroll withripple" href="http://localhost:5000/#features" rollapp-href="http://localhost:5000/#features">Why Poolavan?</a>
                        </li>
                        <li class="auth-button">
                            <a class="withripple" href="http://localhost:5000/#" data-toggle="modal" data-target="#login-modal" rollapp-href="http://localhost:5000/#">Log In</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <header class="intro" data-stellar-background-ratio="0.2" data-stellar-vertical-offset="100" style="background-position: 50% 100%;">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">Share the journey.</h1>
                            <p class="intro-text">Poolavan is a ride-sharing platform for adventurers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header> <!-- TODO -->

        <!-- About Section -->
        <section id="about" class="container content-section">
            <h2>How Poolavan works</h2>

            
                        <strong>Create a profile.</strong><br>
                        Join like-minded individuals by creating a secure profile.
                    </div>
                </div>
                <div class="step active" id="step2">
                    <div class="block right blank">
                    </div>
               

                        </div>
                    </div>
                    <div class="block left text">
                        <strong>Create a Trip.</strong><br>
                        We will help you get there.
                    </div>
                </div>
                <div class="step active" id="step3">
                    <div class="block right text">
                        <strong>Join a trip.</strong><br>
                        Get outside with your people.
                    </div>
                    <div class="block img">
                        <div class="theimg">

                        </div>
                    </div>
                    <div class="block left blank">
                    </div>
                </div>
                <div class="step active" id="step4">
                    <div class="block right blank">
                    </div>
                    <div class="block img">
                        <div class="theimg">

                        </div>
                    </div>

                </div>

                    <div class="block img">
                        <div class="theimg">

                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!-- Contact Section -->
        <section id="features" class="content-section text-center life-section">
            <div id="corp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Poolavan benefits</h2>
                        <p>
                            We bring people together to play in the great outdoors.
                        </p>
                    </div>
                </div>
                <div class="row text-left clearfix">
                    <div class="pull-left left">
                    <h3>Sustainablity</h3>
                        <ul>
                            <li>Carbon footprint reduction </li>
                            <li>Decrease travel time</li>
                            <li>Shared costs</li>
                            <li>Reduces vehicle impact at trail heads</li>
                        </ul>
                    </div>
                    <div class="pull-left right">
                        <h3>Accessibility to the outdoors</h3>
                        <ul>
                            <li>Leveling access to nature</li>
                            <li>Bonding with like-minded individuals</li>
                            <li>Promotes well-being</li>
                            <li>Supports community building</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="uni">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col-md-6 left">
                       
                    </div>
                    <div class="col-md-6 right">
                    </div>
                </div>
            </div>
        </section>

       
        </footer>

       
              </div>
            </div>
          </div>
        </div>

       
</script>


