{% extends 'base.html' %}
{% block content %}

<body>
<script>

function searchActivity(results) {
    var activity = results;
    $('#activity').html(activity);
}

function getActivity(){
    $get.('/activity', searchActivity);
}

getActivity();

function viewMyTrips(results) {
    var mytrips = results;
    $('#mytrips').html(results);
}

function getMyTrips(){
    $get.('/mytrips', viewMyTrips);

}

getMyTrips();


function viewAllTrips(results)
</script>

<!-- Check session for boolean 'logged_in' -->
<!-- If not logged in, display login form -->
{% if not session["logged_in"] %}
    <div id="homepage-block">
        <h1 id="homepage-title">Poolavan</h1>
    </div>



    <form action="/login" method="POST">
        <p>Username (email)  <input type="text" name="username" placeholder="Username"></p>
        <p>Password  <input type="password" name="password"  placeholder="Password"></p>
        <input type="submit" value="Log in">
        <input type="submit" value="Register">
    </form>

<!-- If user is logged in, display logout button -->
{% else %}    

    <form action="/logout" method="POST">
        <input type="submit" value="Log out">
    </form>
{% endif %}
</body>
{% endblock %}