{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">


<div class="row">

    <div class="col-xs-12 col-lg-6">

        <h2>My Profile</h2>

        <h2>My Calendar</h2>
        <h2>My Maps</h2>

        <p>My Trips:</p>   
        {% for user_trip in user_trips %}
        <li><a href="/mytrips/{{ user_trip.trip.trip_id }}">
        {{ user_trip.trip.trip_name }} ({{ user_trip.trip.trip_id }})
        </li></a>
        {% endfor %}


         <p>My Rides:</p>  

        {% for user_trip in user_rides %}
        <li><a href="/mytrips/{{ user_trip.trip.trip_id }}">
            {{ user_trip.trip.trip_name }} ({{ user_trip.trip.trip_id }})
        </li></a>
        {% endfor %}



    </div>

  {% endblock %}