<!DOCTYPE html>

<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0">
        <title>Poolavan | Ridesharing for Adventurers. </title>
        <meta name="description" content="poolavan is a ridesharing tool for those who are seeking to get out there.">


        <!-- Fonts -->
        <link href="./ridesharing/css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/ridesharing/fonts.css">
        <!-- Styles -->
        <link href="/static/ridesharing/style.css" rel="stylesheet">
        <link href="./ridesharing_files/css(1)" rel="stylesheet" type="text/css">

    </head>




        <!-- Navigation -->
       
        <nav class="navbar navbar-custom navbar-static-top thedesktopnav" role="navigation">
            
            <ul class="thelinks">
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/mytrips" rollapp-href="http://localhost:5000/mytrips">My Trips</a>
                </li>                
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/createtrip" rollapp-href="http://localhost:5000/createtrip">Create Trip</a>
                </li>
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/trips" rollapp-href="http://localhost:5000/trips">View Trips</a>
                </li>
                <li>
                    <a class="page-scroll withripple" href="http://localhost:5000/users" rollapp-href="http://localhost:5000/users">View Users</a>
                </li>

            </ul>
        </nav>
{% extends 'base.html' %}
{% block content %}

                  <h2>Trips</h2>
                  <h4>Select a trip to join a trip!</h4>
                  <ul>
              {% for trip in trips %}
                  <li>
                      <a href="/trips/{{ trip.trip_id }}">
                        {{ trip.trip_name }} ({{ trip.trip_id }})
                      </a>
                  </li>
              {% endfor %}
            </ul>

<h2>Bay Area Trip Suggestions </h2>
<!-- BEGIN Hiking Project Area Report -->
<iframe style="width:100%; max-width:1200px; height:500px;" frameborder="0" scrolling="no" src="https://www.hikingproject.com/widget/map?favs=1&location=ip&x=-13626747&y=4549663&z=7&h=500"></iframe>
<!-- END Hiking Project -->

{% endblock %}