<!DOCTYPE html>

<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0">
        <title>Poolavan | Ridesharing for Adventurers. </title>
        <meta name="description" content="poolavan is a ridesharing tool for those who are seeking to get out there.">
        <script async="" src="/static/ridesharing/analytics.js"></script>
        <script type="text/javascript" async="" src="/static/ridesharing/recaptcha__en.js">
        </script><script src="/static/ridesharing/api.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    



        <!-- Fonts -->
        <link href="./ridesharing/css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/ridesharing/fonts.css">
        <!-- Styles -->
        <link href="/static/ridesharing/style.css" rel="stylesheet">
        <link href="./ridesharing_files/css(1)" rel="stylesheet" type="text/css">

    </head>



        <!-- Intro Header -->
        <section class="purplebg text-center" style="padding:3em 0 1em;">
        <div class="container">
               
{% block content %}



<div id="homepage-block"></div>
<!-- Check session for boolean 'logged_in' -->
<!-- If not logged in, display login form -->
{% if not session or not session["logged_in"] %}
<div id="login">
<form action="/login" method="POST">
    <table class="logintable">
      <tr><td>Username (email)</td><td>  <input type="text" name="username" placeholder="Username"></td></tr>
      <tr><td>Password</td><td> <input type="password" name="password"  placeholder="Password"></td></tr>
      <tr><td></td>
       <td> <input type="submit" value="Log in"> <input type="submit" value="Register"></td></tr>
    
    </table>
   
       
{% else %}    



{% endif %}

{% endblock %}


            </div>
        </section>
       

       
        </footer>

       
              </div>
            </div>
          </div>
        </div>

       
</script>

