{% extends 'base.html' %}
{% block content %}


<h1>User {{ user.user_id }}</h1>


        <p>Name: {{ user.first_name }}</p>
        <p>Phone Number: {{ user.phone_number }}</p>
        <p><a href= "mailto:{{ user.username }}">Send Email</a></p>
        <p>Gender: {{ user.gender }}</p>
        <p>Smoking Preference: {{ user.smoking_preference }}</p>
        <p>Current User Trips:
        {% for trip in usertrip %}</p>
        <a href="/trips/{{ trip.trip_id }}">  
        <p>{{ trip.trip_name }} ({{ trip.trip_id }})</p>

    {% endfor %}
  {% endblock %}