{% extends 'base.html' %}
{% block content %}

<div class="col-xs-12 col-lg-6">
    <div id="userlist">

        Name: {{ user.first_name }}</br>
        Phone Number: {{ user.phone_number }}</br>
        <a href= "mailto:{{ user.username }}">Send Email</a></br>
        Gender: {{ user.gender }}</br>
        Smoking Preference: {{ user.smoking_preference }}</br>
        Current User Trips:
        {% for trip in usertrip %}</br>
        <a href="/trips/{{ trip.trip_id }}">  
        {{ trip.trip_name }} ({{ trip.trip_id }})

    {% endfor %}
  {% endblock %}