{% extends 'base.html' %}
{% block content %}

    <div id="greeting">Hello, {{ session["username"] }}</div>


<div class="col-xs-12 col-lg-6">

<div id="contentactivity">
  <h3>Search for like-minded travelers by activity </h3>
          <center><select name="activity_id" id="activity_id">
          {% for _ in activities %}
          <option value={{ _.activity_id }}>{{ _.recreation_type }}</option>
          {% endfor %}        

        <input type="submit" value="Submit" id="activitySubmit">
      
       </select></center>

    <div id="table" class='col-md-8-offset-1 search-results-table'></div> 

<script>
function showActivity(evt) {
    evt.preventDefault();
    var url = "/usertrip?activity_id=" + $('#activity_id').val();
    $("#table").empty();
    $.get(url, function(data) {
       var tr;
       users = data.users;
      for (var i = 0; i < users.length; i++) {
        
        tr = $('<tr/>');
        tr.append("<td><a href=\"/users/" + users[i].user_id + "\">" + users[i].first_name + "</a></td>");
        tr.append("<td><a href=\"/users/" + users[i].about_me + "\"" + "</a></td>");
        tr.append("<td>" + users[i].gender+ "</td>");
        $('#table').append(tr);
    }
    });
}
$("#activitySubmit").on('click', showActivity);
</script>


{% endblock %}